@model Kundbolaget.Models.EntityModels.Address

@{
    ViewBag.Title = "Detaljer";
}


<div>
    <h2>Detaljer</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Gata
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            Gatunummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            Postkod
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Ändra adress", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
