@model Kundbolaget.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Delete";
}


<h3>Är du säker på att du vill ta bort denna orderrad?</h3>
<div>
    <h4>Orderrad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Produkt:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDetails.ProductInfo.Name)
        </dd>

        <dt>
            Mängd:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDetails.Amount)
        </dd>
        <dt>
            Enhetspris:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDetails.UnitPrice)
        </dd>

        <dt>
            Totalpris:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDetails.TotalPrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.OrderId)
        @Html.HiddenFor(model=>model.OrderDetails.TotalPrice)
        @Html.HiddenFor(model=>model.ParentCompanyId)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till order", "Index", "OrderDetails", new { id = Model.OrderId, companyId = Model.ParentCompanyId }, new { @class = "orange-text" })
        </div>
    }
</div>
