@model Kundbolaget.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Orderdetaljer";
}

<h2>Orderdetaljer</h2>
<div>
    @Html.ActionLink("Åter till ordrar", "Company","Order", new { id = Model.ParentCompanyId}, new { @class = "orange-text" })
</div>
<table class="table">
    <tr>
        <th>
            Produkt
        </th>
        <th>
            Behållare
        </th>
        <th>
            Volym
        </th>
        <th>
            Mängd
        </th>
        <th>
            Pris per kolli
        </th>
        <th>
            Pris total
        </th>
    </tr>

    @foreach (var item in Model.OrderDetailses) {
        <tr class="row">
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Container.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Volume.Milliliter)
            </td>
            <td>
                @Html.EditorFor(model => model.OrderDetails.Amount, new { htmlAttributes = new { Value=item.Amount,id=item.Id } })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", "OrderDetails", new {id = item.Id, orderId = Model.OrderId}, new {@class = "orange-text"}) |
                @Html.ActionLink("Ta bort", "Delete", "OrderDetails", new {id = item.Id, orderId = Model.OrderId}, new {@class = "orange-text"})

            </td>
        </tr>
    }
</table>
    <div>
        @Html.ActionLink("Skapa Ny", "Create","OrderDetails", new {id=Model.OrderId} , new { @class = "orange-text" }) 
    </div>  

