@model Kundbolaget.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Orderdetaljer";
}

<h4>Orderdetaljer</h4>
<div>
    @Html.ActionLink("Tillbaka", "Delivery","Home", null,new { @class = "orange-text" })
</div>
<hr/>
<table class="table">
    <tr>
        <th>
            Produkt
        </th>
        <th>
            Behållare
        </th>
        <th>
            Volym
        </th>
        <th>
            Mängd
        </th>
        <th>
            Pris per kolli
        </th>
        <th>
            Pris total
        </th>
    </tr>

    @foreach (var item in Model.OrderDetailses) {
        <tr class="row">
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Container.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Volume.Milliliter)
            </td>
            <td>
                @Html.EditorFor(model => model.OrderDetails.Amount, new { htmlAttributes = new { Value=item.Amount, id="amount"+item.Id } })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a onclick="OrderDetailsController(@item.Id)" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">check</i></a>
                <a href="@Url.Action("Delete", new { id = item.Id, orderId = Model.OrderId })"class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">clear</i></a>
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Skapa +", "Create", "OrderDetails", new { id = Model.OrderId }, new { @class = "waves-effect waves-light btn" })
</div>  

<script src="~/Scripts/CallOrderDetailsController.js"></script>
<script src="~/Scripts/PreviousPage.js"></script>