@model Kundbolaget.ViewModels.ProductStockVM

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <div>
            
        </div>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.ProductStock.Id)
        <div class="row">
            <h4>Ändra produktlager</h4>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.ProductStock.Amount, "Antal", htmlAttributes: new {@class = "control-label col-md-2"})
                        @Html.EditorFor(model => model.ProductStock.Amount, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ProductStock.Amount, "", new {@class = "text-danger"})
                    </div>
                    <div class="col s12">
                        @Html.LabelFor(model => model.ProductStock.ProductInfoId, "Produktartikel", htmlAttributes: new {@class = "control-label col-md-2"})
                        @Html.DropDownListFor(model => model.ProductStock.ProductInfoId, new SelectList(Model.ProductInfos, "Id", "Name"), new {htmlAttributes = new {@class = "dropdown-content"}})
                        @Html.ValidationMessageFor(model => model.ProductStock.ProductInfoId, "", new {@class = "text-danger"})
                    </div>
                    <div class="col s12">
                        @Html.LabelFor(model => model.ProductStock.WarehouseId, "Lager", htmlAttributes: new {@class = "control-label col-md-2"})
                        @Html.DropDownListFor(model => model.ProductStock.WarehouseId, new SelectList(Model.Warehouses, "Id", "Name"), new {htmlAttributes = new {@class = "dropdown-content"}})
                        @Html.ValidationMessageFor(model => model.ProductStock.WarehouseId, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" value="Spara" class="btn btn-default" />
                        @Html.ActionLink("Tillbaka", "Index", null, new { @class = "orange-text" })
                    </div>
                </div>
            </form>
        </div>
    </div>

           
}

