@model IEnumerable<Kundbolaget.Models.EntityModels.ProductStock>

@{
    ViewBag.Title = "Index";
}

<h4>Produktlager</h4>

<div>
    @Html.ActionLink("Skapa Ny", "Create", null, new { @class = "orange-text" }) |
    @Html.ActionLink("Tillbaka", "AdminManager", "Home", null, new { @class = "orange-text" })
</div>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Varuhus</th>
            <th>Lagersaldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductInfo.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Warehouse.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.Id }, new { @class = "orange-text" }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }, new { @class = "orange-text" }) 
                </td>
            </tr>
        }
    </tbody>
</table>