@model IEnumerable<Kundbolaget.Models.EntityModels.ProductStock>

@{
    ViewBag.Title = "Index";
}

<h4>Produktlager</h4>

<p>
    @Html.ActionLink("Skapa ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Produkt</p>
        </th>
        <th>
            <p>Varuhus</p>
        </th>
        <th>
            <p>Antal</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Detaljer", "Details", new {id = item.Id}) 
            </td>
        </tr>
    }

</table>