@model Kundbolaget.ViewModels.CompanyViewModel

@{
    ViewBag.Title = "Skapa";
}


@using (Html.BeginForm("Create", "Company", FormMethod.Post, new {@class = "col s12"}))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Skapa företag</h4>
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col s10">
                @Html.LabelFor(model => model.Company.ParentCompanyId, "Moderbolag")
                @Html.DropDownListFor(model => model.Company.ParentCompanyId, new SelectList(Model.ParentCompanies, "Id", "Name"), "Inget", new
                {
                    htmlAttributes = new
                    {
                        @class = "dropdown-content"
                    }
                })
                @Html.ValidationMessageFor(model => model.Company.ParentCompanyId)
            </div>
        </div>

        <div class="row">
            <div class="col s10">
                @Html.LabelFor(model => model.Company.ContactPersonId, "Kontaktperson")
                @Html.DropDownListFor(model => model.Company.ContactPersonId, new SelectList(Model.ContactPersons.Select(person => new
                {
                    person.Id, FullName = $"{person.FirstName} {person.LastName}"
                }), "Id", "FullName"), new
                {
                    htmlAttributes = new
                    {
                        @class = "dropdown-content"
                    }
                })
                @Html.ValidationMessageFor(model => model.Company.ContactPersonId)
            </div>
        </div>

        <div class="row">
            <div class="col s10">
                @Html.LabelFor(model => model.Company.CountryId, "Land")
                @Html.DropDownListFor(model => model.Company.CountryId, new SelectList(Model.Countries, "Id", "Name"), new
                {
                    htmlAttributes = new
                    {
                        @class = "dropdown-content"
                    }
                })
                @Html.ValidationMessageFor(model => model.Company.CountryId)
            </div>
        </div>
        <div class="row">
            <div class="col s10 input-field">
                <div>
                    @Html.EditorFor(model => model.Company.Name, new
                    {
                        htmlAttributes = new
                        {
                            @class = "validate",
                            type = "text",
                            data_val_required = "Måste fyllas i."
                        }
                    })
                    @Html.LabelFor(model => model.Company.Name, "Namn")
                    @Html.ValidationMessageFor(model => model.Company.Name)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s10 input-field">
                @Html.EditorFor(model => model.Company.Email, new
                {
                    htmlAttributes = new
                    {
                        @class = "validate",
                        type = "text",
                        data_val_required = "Måste fyllas i."
                    }
                })
                @Html.LabelFor(model => model.Company.Email, "E-post")
                @Html.ValidationMessageFor(model => model.Company.Email)
            </div>
        </div>

        <div class="row">
            <div class="col s10 input-field">
                @Html.EditorFor(model => model.Company.PhoneNumber, new
                {
                    htmlAttributes = new
                    {
                        @class = "validate",
                        type = "text",
                        data_val_required = "Måste fyllas i."
                    }
                })
                @Html.LabelFor(model => model.Company.PhoneNumber, "Telefonnummer")
                @Html.ValidationMessageFor(model => model.Company.PhoneNumber)
            </div>
        </div>

        <div class="row">
            <div class="col s10">
                <h5>Besöksaddress</h5>
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.Address.Street)
                @Html.Label("Adress")
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.Address.Number)
                @Html.Label("Gatunummer")
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.Address.ZipCode)
                @Html.Label("Postnummer")
                @Html.ValidationMessageFor(model => model.Company.Address)
            </div>
        </div>


        <div class="row">
            <div class="col s10">
                <h5>Leveransaddress</h5>
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.DeliveryAddress.Street)
                @Html.Label("Adress")
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.DeliveryAddress.Number)
                @Html.Label("Gatunummer")
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.DeliveryAddress.ZipCode)
                @Html.Label("Postnummer")
            </div>
            @Html.ValidationMessageFor(model => model.Company.Address)
        </div>


        <div class="row">
            <div class="col s10">
                <input type="submit" value="Skapa" class="teal btn waves-effect waves-light"/>
                @Html.ActionLink("Tillbaka", "Index", null, new { @class = "blue btn waves-effect waves-light" })
            </div>
        </div>
    </div>
}

<div>
    
</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>