@model Kundbolaget.Models.EntityModels.Company

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col l6 s12 col m8 offset-m2">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">@Html.DisplayFor(model => model.Name)</span>
                <ul>
                    <li>
                        Besöksadress:
                        @Html.DisplayFor(model => model.Address.Street)
                    </li>
                    <li>
                        Land:
                        @Html.DisplayFor(model => model.Country.Name)
                    </li>
                    <li>
                        Kontaktperson:
                        @Html.DisplayFor(model => model.ContactPerson.FirstName)
                    </li>
                    <li>
                        Email:
                        @Html.DisplayFor(model => model.Email)
                    </li>
                    <li>
                        Telefonnummer:
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </li>
                    <li>
                        Leveransadress:
                        @Html.DisplayFor(model => model.DeliveryAddress.Street)
                    </li>
                    <li>
                        Moderbolag:
                        @(Model.ParentCompanyId == null ? Html.DisplayName("Inget") : Html.DisplayName(Model.ParentCompany.Name))
                    </li>
                </ul>
                <div class="card-action">
                    @Html.ActionLink("Företagsöversikt", "Index")
                </div>
            </div>
        </div>

        @* Visa alla dotterbolag ifall företaget är ett moderbolag *@

    </div>

    @if (Model.SubCompanies.Any())
    {
        <div class="col l6 s12">
            <h5>
                Dotterbolag
            </h5>
            <table >
                <tr>
                    <th>Detaljer</th>
                    <th>Namn</th>
                    <th>Mail</th>
                    <th>Telefon</th>
                </tr>
                @foreach (var subCompany in Model.SubCompanies)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", new {id = subCompany.Id})" class="btn btn-floating small waves-effect waves-light">
                                <i class="material-icons">link</i>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(x => subCompany.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(x => subCompany.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(x => subCompany.PhoneNumber)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>