@model Kundbolaget.ViewModels.CompanyViewModel

@{
    ViewBag.Title = "Ändra";
}


@using (Html.BeginForm("Edit", "Company", FormMethod.Post, new {@class = "col s12"}))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Company.Id)
    <div >
        <h4>Ändra företagsinformation</h4>
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col s10">
                @Html.LabelFor(model => model.Company.ParentCompanyId, "Moderbolag")
                @Html.DropDownListFor(model => model.Company.ParentCompanyId, new SelectList(Model.ParentCompanies, "Id", "Name"), new
                {
                    htmlAttributes = new
                    {
                        @class = "dropdown-content"
                    }
                })
                @Html.ValidationMessageFor(model => model.Company.ParentCompanyId)
            </div>
        </div>

        <div class="row">
            <div class="col s10">
                @Html.LabelFor(model => model.Company.ContactPersonId, "Kontaktperson")
                @Html.DropDownListFor(model => model.Company.ContactPersonId, new SelectList(Model.ContactPersons.Select(person => new
                {
                    person.Id, FullName = $"{person.FirstName} {person.LastName}"
                }), "Id", "FullName"), new
                {
                    htmlAttributes = new
                    {
                        @class = "dropdown-content"
                    }
                })
                @Html.ValidationMessageFor(model => model.Company.ContactPersonId)
            </div>
        </div>

        <div class="row">
            <div class="col s10">
                @Html.LabelFor(model => model.Company.CountryId, "Land")
                @Html.DropDownListFor(model => model.Company.CountryId, new SelectList(Model.Countries, "Id", "Name"), new
                {
                    htmlAttributes = new
                    {
                        @class = "dropdown-content"
                    }
                })
                @Html.ValidationMessageFor(model => model.Company.CountryId)
            </div>
        </div>
        <div class="row">
            <div class="col s10 input-field">
                <div>
                    @Html.EditorFor(model => model.Company.Name, new
                    {
                        htmlAttributes = new
                        {
                            @class = "validate",
                            type = "text",
                            data_val_required = "Måste fyllas i."
                        }
                    })
                    @Html.LabelFor(model => model.Company.Name, "Namn")
                    @Html.ValidationMessageFor(model => model.Company.Name)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s10 input-field">
                @Html.EditorFor(model => model.Company.Email, new
                {
                    htmlAttributes = new
                    {
                        @class = "validate",
                        type = "text",
                        data_val_required = "Måste fyllas i."
                    }
                })
                @Html.LabelFor(model => model.Company.Email, "MailAddress")
                @Html.ValidationMessageFor(model => model.Company.Email)
            </div>
        </div>

        <div class="row">
            <div class="col s10 input-field">
                @Html.EditorFor(model => model.Company.PhoneNumber, new
                {
                    htmlAttributes = new
                    {
                        @class = "validate",
                        type = "text",
                        data_val_required = "Måste fyllas i."
                    }
                })
                @Html.LabelFor(model => model.Company.PhoneNumber, "Telefonnummer")
                @Html.ValidationMessageFor(model => model.Company.PhoneNumber)
            </div>
        </div>

        <div class="row">
            <div class="col s10">
                <h5>Besöksaddress</h5>
            </div>
            @Html.HiddenFor(model => model.Company.AddressId)
            @Html.HiddenFor(model => model.Company.Address.Id)
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.Address.Street)
                @Html.LabelFor(model => model.Company.Address.Street)
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.Address.Number)
                @Html.LabelFor(model => model.Company.Address.Number)
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.Address.ZipCode)
                @Html.LabelFor(model => model.Company.Address.ZipCode)
                @Html.ValidationMessageFor(model => model.Company.Address)
            </div>
        </div>

        <div class="row">
            <div class="col s10">
                <h5>Leveransaddress</h5>
            </div>
            @Html.HiddenFor(model => model.Company.DeliveryAddressId)
            @Html.HiddenFor(model => model.Company.DeliveryAddress.Id)
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.DeliveryAddress.Street)
                @Html.LabelFor(model => model.Company.DeliveryAddress.Street)
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.DeliveryAddress.Number)
                @Html.LabelFor(model => model.Company.DeliveryAddress.Number)
            </div>
            <div class="input-field col s10">
                @Html.EditorFor(model => model.Company.DeliveryAddress.ZipCode)
                @Html.LabelFor(model => model.Company.DeliveryAddress.ZipCode)
            </div>
            @Html.ValidationMessageFor(model => model.Company.Address)
        </div>


        <div class="row">
            <div class="col s10">
                <input type="submit" value="Spara" class="btn"/> |
                @Html.ActionLink("Företagsöversikt", "Index", null, new {@class = "orange-text"})
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>