@model IEnumerable<Kundbolaget.Models.EntityModels.ProductInfo>

@{
    ViewBag.Title = "Produkter";
}

<h4>Produktöversikt</h4>

<div>
    @Html.ActionLink("Skapa", "Create", "Product", null, new {@class = "teal btn"})
    @Html.ActionLink("Tillbaka", "AdminManager", "Home", null, new {@class = "blue btn"})
</div>
<table class="highlight responsive-table">
    <thead>
    <tr>
        <th>Behållare</th>
        <th>Produktgrupp</th>
        <th>Produktnamn</th>
        <th>Beskrivning</th>
        <th>Alkoholhalt</th>
        <th>Pallrabatt</th>
        <th>Pris</th>
        <th class="centeredColumn">Ändra</th>
        <th class="centeredColumn">Detaljer</th>
        <th class="centeredColumn">Ta bort</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr id="@item.Id" class="">
            <td>@Html.DisplayFor(modelItem => item.Container.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductGroup.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Abv)</td>
            <td>@Html.DisplayFor(modelItem => item.PalletDiscount)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td class="centeredColumn">
                <a href="@Url.Action("Edit", "Product", new {id = item.Id})" class="btn btn-floating btn-small waves-effect waves-light">
                    <i class="material-icons">mode_edit</i>
                </a>
            </td>
            <td class="centeredColumn">
                <a href="@Url.Action("Details", "Product", new {id = item.Id})" class="btn btn-floating btn-small waves-effect waves-light blue">
                    <i class="material-icons">info_outline</i>
                </a>
            </td>
            <td class="centeredColumn">
                <a onclick="ProductController(@item.Id, 'Delete')" class="btn btn-floating btn-small waves-effect waves-light red">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<script src="~/Scripts/CallProductController.js"></script>