@model IEnumerable<Kundbolaget.Models.EntityModels.ProductInfo>

@{
    ViewBag.Title = "Produkter";
}

<h4>Produktöversikt</h4>

<div>
    @Html.ActionLink("Skapa Ny", "Create", null, new { @class = "orange-text" }) |
    @Html.ActionLink("Tillbaka", "AdminManager", "Home", null, new { @class = "orange-text" })
</div>
<table class="responsive-table">
    <thead>
    <tr>
        <th>Behållare</th>
        <th>Produktgrupp</th>
        <th>Produktnamn</th>
        <th>Beskrivning</th>
        <th>Alkoholhalt</th>
        <th>TG</th>
        <th>Inköpspris</th>
        <th>Utpris</th>
        <th>Ändra</th>
        <th>Detaljer</th>
        <th>Ta bort</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr id="@item.Id">
            <td>@Html.DisplayFor(modelItem => item.Container.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductGroup.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Abv)</td>
            <td>@Html.DisplayFor(modelItem => item.TradingMargin)</td>
            <td>@Html.DisplayFor(modelItem => item.PurchasePrice)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>
                <a href="@Url.Action("Edit","Product", new { id = item.Id})" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">update</i></a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Product", new { id = item.Id})" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">info_outline</i></a>
            </td>
            <td>
                <a onclick="ProductController(@item.Id, 'Delete')" class="btn btn-floating btn-small waves-effect waves-light">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<script src="~/Scripts/CallProductController.js"></script>