@model Kundbolaget.ViewModels.FileUploadVM
@{
    ViewBag.Title = "Ladda upp fil";
}

<h2>UploadJson</h2>

@using (Html.BeginForm("UploadJson", "File",
                                   FormMethod.Post,
                                   new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Upload a json file</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.TextBoxFor(model => model.File, new { type = "file" })
                @Html.ValidationMessageFor(model => model.File)
                <input type="submit" value="Ladda upp" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Produktöversikt", "Index","Product")
</div>