@model Kundbolaget.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Company";
}
<h4>Ordrar</h4>
<div>
    @Html.ActionLink("Tillbaka", "Index", null, new {@class = "orange-text"})
</div>
<hr/>
<table class="table">
    <tr>
        <th>
            Företag
        </th>
        <th>
            Order skapad
        </th>
        <th>
            Ordernummer från kund
        </th>
        <th>
            Önskat leveransdatum
        </th>
        <th>
            Pris
        </th>
    </tr>

@foreach (var item in Model.Orders) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerOrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WishedDeliveryDate)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <a href="@Url.Action("Index","OrderDetails", new { id = item.Id, companyId = item.Company.ParentCompanyId })" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">info_outline</i></a>
            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">clear</i></a>
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Skapa +", "Create", new {id = Model.ParentCompanyId}, new { @class = "waves-effect waves-light btn" })
</div>

