@using Kundbolaget.Controllers
@using Kundbolaget.Models.EntityModels
@model IEnumerable<Kundbolaget.Models.EntityModels.Order>
<h2>Oplockade ordrar</h2>
@Html.ActionLink("Tillbaka", "Delivery", "Home", null, new {@class="orange-text"})
<hr/>
<table class="highlight">
    <tr>
        <th>
            Ordernummer
        </th>
        <th>
            Butik
        </th>
        <th>
            Orderdatum
        </th>
        <th>
            Önskat leveransdatum
        </th>
        <th>
            Totalpris
        </th>
        <th>
            Plockad
        </th>
        <th>
            Ändra
        </th>
        <th>
            Plocklista
        </th>
        <th>
            Ta bort
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WishedDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a onclick="OrderController(@item.Id,'OrderPicked')" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">check</i></a>
            </td>
            <td>
                <a href="@Url.Action("Index","OrderDetails", new { id = item.Id, companyId = item.Company.ParentCompanyId })" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">update</i></a>
            </td>
            <td>
                <a href="@Url.Action("OrderDetails", "Order", new {id = item.Id, companyId = item.Company.ParentCompanyId})" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">info_outline</i></a>
            </td>
            <td>
                <a onclick="OrderController(@item.Id,'Delete')" class="btn btn-floating btn-small waves-effect waves-light"><i class="material-icons">delete</i></a>                               
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/CallOrderController.js"></script>
