@using Kundbolaget.Controllers
@using Kundbolaget.Models.EntityModels
@model IEnumerable<Kundbolaget.Models.EntityModels.Order>
<h4>Skicka order</h4>
<div>
    @Html.ActionLink("Tillbaka", "Delivery", "Home", null, new { @class = "blue btn" })
</div>
<table class="highlight">
    <thead>
    <tr>
        <th>
            Ordernummer
        </th>
        <th>
            Butik
        </th>
        <th>
            Orderdatum
        </th>
        <th>
            Önskat leveransdatum
        </th>
        <th>
            Totalpris
        </th>
        <th class="centeredColumn">
            Leverera
        </th>
        <th class="centeredColumn">
            Följesedel
        </th>
        <th class="centeredColumn">
            Info
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WishedDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="centeredColumn">
                <a onclick="OrderController(@item.Id, 'OrderShipped')" class="btn btn-floating waves-effect waves-light">
                    <i class="material-icons">check</i>
                </a>
            </td>
            <td class="centeredColumn">
                <a onclick="CreatePdf(@item.Id, 'ExportDeliveryNote')" class="btn btn-floating waves-effect waves-light blue">
                    <i class="material-icons">store</i>
                </a>
            </td>
            <td class="centeredColumn">
                <a href="@Url.Action("OrderDetails", "Order", new {id = item.Id, companyId = item.Company.ParentCompanyId})" class="btn btn-floating waves-effect waves-light blue">
                    <i class="material-icons">info_outline</i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<script src="~/Scripts/CallOrderController.js"></script>