@model IEnumerable<Kundbolaget.Models.EntityModels.OrderDetails>

<h2>Orderdetaljer</h2>
<div>
    @Html.ActionLink("Åter till oplockade ordrar", "GetAllUnpickedOrders", "Order")
</div>
<table class="table">
    <tr>
        <th>
            Produkt
        </th>
        <th>
            Behållare
        </th>
        <th>
            Volym
        </th>
        <th>
            Mängd
        </th>
        <th>
            Pris per kolli
        </th>
        <th>
            Pris total
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Container.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Volume.Milliliter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
        </tr>
    }
</table>

<div>

</div>
